/*ToDos styles*/
.todo {
  display: table-cell;
  vertical-align: top;
  padding:20px;
  width: 926px;
  height: 140px;
  text-align: left;
  box-sizing: border-box;
}
.todo-text {
  text-align: left;
  color: black;
  display: inline-block;
  margin-left: 20px;
  width: 600px;
  font-size: 34px;
  word-wrap:break-word;
}
.update, .todo:hover {
  background-color: #9ccc65;
}

.edit-img:hover {
  cursor: pointer;
}
.display-none {
  display: none;
}
.done-new {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  width: 886px;
  height: 62px;
}
.done-new button {
  font-size: 20px;
  width: 100px;
  height: 32px;
  border:0px;
  border-radius: 4px;
  background-color: #428bca;
  color:white;
  font-weight: bold;
}
.new button {
  background-color: #d9534f;
}
